<%- include("../../partials/header"); %>
    <body>
        <%- include("../../partials/navbar.ejs"); %>
            <div class="container">
                <div class="card bg-light">
                    <div class="card-header dark-bg p-2">
                        <h2 class="p-2 mt-2 text-white">Cadastro de categoria</h2>
                    </div>
                    <div class="card-body p-4">
                        <form method="POST" action="/categories/save">
                            <input type="text" name="title" placeholder="Defina o título da categoria"
                                class="form-control">
                            <button class="btn btn-secondary mt-4">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>
<%- include("../../partials/footer.ejs"); %>