<nav class="navbar navbar-expand-lg navbar-dark dark-bg shadow">
    <a href="/" class="navbar-brand">
        <img width="100" height="" src="/img/logo.svg" alt="" />
    </a>
    <h2 class="text-white">GuidePress</h2>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>
    <ul class="dropdown navbar-nav mr-auto">
        <a class="dropdown-toggle nav-link" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categorias
        </a>
        <ul class="dropdown-menu dark-bg" aria-labelledby="dropdownMenuLink">

            <% categories.forEach(category=> { %>
                <li>
                    <a class="dropdown-item text-white" href="/category/<%= category.slug %>">
                        <%= category.title %>
                    </a>
                </li>
                <% }) %>
        </ul>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
</ul>
</nav>