<nav class="navbar navbar-expand-lg navbar-dark dark-bg shadow">
    <a href="/" class="navbar-brand">
        <img width="100" height="" src="/img/logo.svg" alt="" />
    </a>
    <h2 class="text-white">GuidePress</h2>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">Artigos</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
    </ul>
</nav>