<nav class="navbar navbar-expand-lg navbar-dark dark-bg shadow">
    <a href="/" class="navbar-brand">
        <img width="100" height="" src="/img/logo.svg" alt="" />
    </a>
    <h2 class="p-2 text-white">GuidePress</h2>
    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">Artigos</a>
        </li>
    </ul>
</nav>