<%- include("../../partials/header"); %>

<%- include("../../partials/navbar.ejs"); %>
    <body>
            <div class="container p-2 m-2 ">
                <div class="card bg-light m-4">
                    <div class="card-header dark-bg ">
                        <h2 class="p-2 mt-2 text-white">Cadastro de usuário</h2>
                    </div>
                    <div class="card-body p-4">
                        <form method="POST" action="/user/save">
                            <label>Nome:</label>
                            <input type="text" name="name" placeholder="Digite seu nome" class="form-control p-2 m-2 ">
                            <label>Email:</label>
                            <input type="email" name="email" placeholder="Digite um e-mail valido"
                                class="form-control p-2 m-2 ">
                            <label>Senha:</label>
                            <input type="password" name="password" placeholder="Digite sua senha"
                                class="form-control p-2 m-2 ">
                            <label>Confirme a senha:</label>
                            <input type="password" name="repassword" placeholder="Repita sua senha"
                                class="form-control p-2 m-2 ">
                            <label>CPF:</label>
                            <input type="number" name="cpf" placeholder="Digite seu CPF" class="form-control p-2 m-2 ">
                            <button class="btn btn-secondary btn-block mt-4 w-100">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>
    <%- include("../../partials/footer.ejs"); %>